<div class = "country-card">
    <img src= {{flags.svg}} alt={{name.official}} width="25" height="20">
    <h2 class="country-title">{{name.official}}</h2>
</div> 

<p class="country-capital"><strong>Capital:</strong> {{capital}}</p>
<p class="country-population"><strong>Population:</strong> {{population}}</p>
<p class="country-languages"><strong>Languages:</strong> {{languages}}</p>
